<!--
    dating/views/personal-info.html
    Author: Fauzia
    Full Stack Web Dev
    Dating2
-->
<include href="views/header.html"></include>
<body>
<div class="container">
    <br>
    <h1>Personal Information</h1>
    <hr>
    <br>

    <!--Form-->
    <form method="post" action="#">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="fname"><strong>First name</strong></label>
                    <input type="text" class="form-control" name="fname" id="fname" placeholder="Enter first name" value="{{ @fname }}">
                    <div class="text-danger">

                        <!-- Inline error message -->
                        <check if="{{ isset(@errors['fname']) }}">
                            {{ @errors['fname'] }}
                        </check>
                    </div>
                    <br>
                </div>

                <div class="form-group">
                    <label for="lName"><strong>Last name</strong></label>
                    <input type="text" class="form-control" name="lName" id="lName" placeholder="Enter last name" value="{{ @lname }}">
                    <div class="text-danger">

                        <!-- Inline error message -->
                        <check if="{{ isset(@errors['lname']) }}">
                            {{ @errors['lname'] }}
                        </check>
                    </div>
                    <br>
                </div>

                <div class="form-group">
                    <label for="age"><strong>Age</strong></label>
                    <input type="number" class="form-control" name="age" id="age" placeholder="Enter age" value="{{ @age }}">

                </div>
                <check if="{{ isset(@errors['age']) }}">
                    <span class="err">{{ @errors['age'] }}</span>
                </check>

                <label for="gender"><strong>Gender</strong></label><br>
                <div class="form-check-inline">

                    <repeat group="{{ @gender}}" value="{{ @gender }}">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="gender" id="gender" value="{{@gender}}"
                            >{{ @gender}}
                        </label><br>
                    </repeat><br>

                </div>
                <check if="{{ isset(@errors['gender']) }}">
                    <span class="err">{{ @errors['gender'] }}</span>
                </check>


                <div class="form-group">
                    <label for="number"><strong>Phone Number</strong></label>
                    <input type="number" class="form-control" name="number" id="number" placeholder="Enter phone number" value="{{ @phone }}">
                    <div class="text-danger">

                        <!-- Inline error message -->
                        <check if="{{ isset(@errors['phone']) }}">
                            {{ @errors['phone'] }}
                        </check>
                    </div>
                    <br>
                </div>

                <div class="form-group">
                    <p class="font-weight-bold">Premium Membership</p>
                    <check if="{{ @premium=='on' }}">
                        <true>
                            <label><input type="checkbox" name="premium" checked> Sign me up for a Premium Account!</label>
                        </true>
                        <false>
                            <label><input type="checkbox" name="premium"> Sign me up for a Premium Account!</label>
                        </false>
                    </check>

                    <br>
                </div>
            </div>
            <div class="col-md-4">

                <div class="card bg-light mb-3 text-center">
                    <div class="card-header"><strong>Note:</strong> All information entered is protected by our
                        <a href="">privacy policy</a>. Profile information can only be viewed by others with your permission</div>
                </div>

            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-info" type="submit" >Next</button>
        </div>
    </form>
</div>
</body>
</html>